<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">

<% } %>
</head>
<body>
<nav>
  <ion-icon class="dumb"name="barbell-outline"></ion-icon>
  <a href="/profiles">
    <button class="btn" type="submit">Profiles</button>
  </a>
  <a href="/studios">
    <button class="btn" type="submit">Studios</button>
  </a>
  <a href="/studios/new">
    <button class="btn" type="submit">Add a Studio</button>
  </a>
  <% if (user) { %>
    <a href="/auth/logout">
      <button class="btn" type="submit">Logout</button>
    </a>
  <% } else { %>
    <a href="/auth/google" class="siwg-link">
      <button type="submit" class="siwg">
        <img id="siwg-image" alt="Sign in with Google" />
      </button>
    </a>
  <% } %>
</nav>
