<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
<% } %>
</head>
<body>
<nav>
  <div>
  <ion-icon name="barbell-outline"></ion-icon>
  </div>
  <a href="/profiles">Profiles</a>
  <a href="/studios">Studios</a>
  <a href="/studios/new">Add Studios</a>
  <% if (user) { %>
    <a href="/auth/logout">Logout</a>
  <% } else { %>
    <a href="/auth/google" class="siwg-link">
      <button type="submit" class="siwg">
        <img id="siwg-image" alt="Sign in with Google" />
      </button>
    </a>
  <% } %>
</nav>
