img {
  display: flex;
  justify-content: center;
}
main {
  border: 40px 20px;
  grid-template-columns: 1fr 1fr ;

}
p {
  text-align: justify;
  justify-content: center;
  font-size: 18px;
  padding: 60px;
}
#p {
  display: flex;
  justify-content: center;
}