<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/studios/new.css">
<main>
  <section>
    <% if (user) { %> 
      <h2>Add Studio</h2>
      <div class="container">
      <form action="/studios" method="POST">
        <label>
          <b> Name of Studio: </b>
          <input type="text" name="name" autocomplete="off">
        </label>
        <label>
          <b>Location:</b>
          <input type="text" name="location" autocomplete="off">
        </label>
        <label>
          <b>Acessible Parking? </b>
          <input type="checkbox" name="parking">
        </label>
        <button id="sbtn" class="btn" type="submit">Add Studio</button>
      </form>
      </div>
      <% } %> 
  </section>
</main>






<%- include('../partials/footer') %>